<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tutorial - When Flag Clicked</title>
    <meta property="og:title" content="Tutorial on FlagClicked" />
    <meta
      property="og:description"
      content="A another tutorial for scratchers, by scratchers."
    />

    <script src="https://unpkg.com/marked@2.0.1"></script>
  </head>
  <body>
    <div style="display: none" v-show="true">
      <navbar v-if="navbar"></navbar>
      <div id="content" v-html="compiledMarkdown"></div>
      <footerbar v-if="navbar"></footerbar>
    </div>
    <script>
      window.app = Vue.createApp({
        data() {
          return {
            input: "loading...",
            navbar: false,
          };
        },
        computed: {
          compiledMarkdown() {
            return marked(this.input, { sanitize: true });
          },
        },
        methods: {},
        async mounted() {
          this.navbar =
            new URLSearchParams(location.search).get("hidenav") != "true";
          if (!this.navbar) {
            document.documentElement.style.setProperty("--navbarHeight", 0);
          }
          const id = location.pathname.split("/")[2];
          const markdown = await (await fetch(`/api/tutorials/${id}`)).text();
          this.input = markdown;
        },
      });
    </script>
  </body>
</html>
