:root {
  --navbarHeight: 100px;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: white;
}
body {
  margin: 0;
  background: #21bcff;
}
#navbar,
#footer {
  background: #ffbf00;
  height: calc(var(--navbarHeight) / 2);
  position: absolute;
  width: 100%;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding: calc(var(--navbarHeight) / 4) 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#footer {
  display: block;
  height: 100px;
}
#block {
  display: flex;
  width: 350px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#block img {
  margin: 0 10px;
  height: 50px;
}
#navbar ul,
#footer > ul {
  list-style: none;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}
#footer ul ul {
  display: block;
  font-size: 20px;
}
#navbar ul li,
#footer ul li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar ul li.button p {
  text-align: center;
  width: 120px;
  background: white;
  color: #5d657c;
  padding: 10px;
  border-radius: 20pc;
  border: #00000045 solid 2px;
  height: fit-content;
  margin: 0;
  user-select: none;
}
#navbar ul li:not(.button),
#navbar ul li.button p {
  cursor: pointer;
}

#navbar ul li:not(.button):hover {
  background: #00000021;
}
#navbar ul li.button p:hover {
  border: none;
  box-shadow: 0px 0px 8px #888888;
}
#content {
  padding-top: var(--navbarHeight);
  min-height: 400px;
}
#blocks-banner {
  width: 100%;
}
#copyright {
  text-align: center;
  font-size: 22px;
  margin-top: 18px;
}

/* Small Screens CSS */
@media (max-width: 1380px) {
  [data-smallsize1] {
    display: none !important;
  }
}
@media (max-width: 800px) {
  [data-smallsize2] {
    display: none !important;
  }
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

/* maybe temp */

#editor {
  height: 500px;
  display: flex;
}
textarea,
#editor div {
  display: inline-block;
  flex: 1;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
  border: 3px solid #333;
  background-color: #222;
}

textarea {
  resize: none;
  outline: none;
  font-size: 14px;
  font-family: "Monaco", courier, monospace;
  padding: 20px;
}

p > code,
pre {
  background: #0000003d;
  border-radius: 5px;
  padding: 3px;
}

#featured-iframe {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}